{% extends "layout.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      
      <p class="lead"></p>
      <h3 class="display-10">1) Señorita</h3>
      <p class="lead">
<!DOCTYPE html> 
<html> 
<body> 
  
<iframe height="480" width="500"  
src="https://www.youtube.com/watch?v=dFp_b5DPIIo"> 
</iframe> 
  
</body> 
</html> </p>
      <p class="lead"> </p>
      <h3 class="display-10">2) Stitches</h3>
      <p class="lead"></p>
      <h3 class="display-10">3) Treat you Better</h3>
      <p class="lead"></p>
    </div>
  </div>

{% endblock %}