{% extends "layout.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h7 class="display-10">Correos electrónicos</h7>
      <p class="lead"><p>
      <p class="lead">cartoonantiguo@yahoo.es<p>
      <p class="lead">ernestolovera434@hotmail.com<p>
      	<h7 class="display-10">Facebook</h7>
      	<p class="lead"><p>
        <a href="https://www.facebook.com/ernestoalejandro.lovera">https://www.facebook.com/ernestoalejandro.lovera</a>
            <div class="container">
    </div>
  </div>


{% endblock %}